.axis {
  font: 15px sans-serif;
}

.axis-title {
  text-anchor: end;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis--x path {
}

.axis--y .tick:not(.tick--one) line {
  stroke-opacity: .15;
}

.line {
  fill: none;
  stroke: #000;
  stroke-width: 2.0px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.area {
}

.area--below {
  fill: red;
}

.area--above {
  fill: green;
}
